.client-command-line {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  background: #424242;
  border: none;
  color: #eeeeee;
  outline: none;
  padding: 5px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 11px;
  resize: none;
  overflow: hidden;
}
