@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #424242;
}

.core-layout {
  flex: 1;
}