.client-window {
  display: flex;
  flex-direction: column;
  margin: 7px;
  padding: 15px 15px 10px;
  height: 84vh;
  background: black !important;
  color: white !important;
  border: 1px solid #424242;
}

.client-content {
  flex-grow: 1;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Anonymous Pro', monospace !important;
  font-weight: lighter !important;
  font-size: 13px;
  background: inherit !important;
  color: inherit !important;
}
